[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DJL"]
	path = DJL
	url = https://github.com/cran/DJL
	shallow = true
	registered = true
